#conteneur
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: #1272b7; /* Remplacez cette couleur par celle que vous souhaitez */
}
        /* Ajoutez ces styles dans votre fichier CSS */
#products .product {
    margin-bottom: 20px;
}

#products .product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#products .product p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}

#products .product p.description {
    color: #666;
}

#products .product:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
